WebApp/Service References/NewsBaseServ/NewsBaseServ1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNewsBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewsBase" nillable="true" type="tns:NewsBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewsBase" nillable="true" type="tns:ArrayOfNewsBase" />
  <xs:complexType name="NewsBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Createon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Newsid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PubDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewsBase" nillable="true" type="tns:NewsBase" />
</xs:schema>