WebApp/Service References/AutoKeyWordServ/AutoKeyWordServ1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKeyWords">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyWords" nillable="true" type="tns:KeyWords" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyWords" nillable="true" type="tns:ArrayOfKeyWords" />
  <xs:complexType name="KeyWords">
    <xs:sequence>
      <xs:element minOccurs="0" name="Kwname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyWords" nillable="true" type="tns:KeyWords" />
</xs:schema>