WebApp/Service References/MemberContactServ/MemberContactServ2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMemberContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberContact" nillable="true" type="tns:MemberContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberContact" nillable="true" type="tns:ArrayOfMemberContact" />
  <xs:complexType name="MemberContact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Linkman" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberContact" nillable="true" type="tns:MemberContact" />
</xs:schema>